
/*Common style*/
body{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 75%;
}

/*Main Columns*/
.colorspace-columns{
    border-collapse: collapse;
}

/*Finder panel*/

/*List Control*/
.colorspace-list{
    padding-right: 25px;
}

.colorspace-list, .colorspace-c{
    vertical-align: top;
}

.colorspace-border{
    position: relative;
    padding: 10px 5px 0 15px;
    margin: -1px -6px -1px -16px;
    border: 1px solid #fff;
}

.colorspace-barrel{
    position: relative;
    height: 100px;
    margin: 0 0 0 -11px;
}

.colorspace-arrow{
    position: absolute;
    right: -25px;
    width: 18px;
    height: 55px;
    outline: none;
    background: #fff url(arrows.png) no-repeat 0 0;
}

.colorspace-arrow_up{
    top: 0;
}

.colorspace-arrow_down{
    bottom: 0;
    background-position: 0 100%;
}

.colorspace-arrow_down:hover{
    background-position: 100% 100%;
}

.colorspace-arrow_up:hover{
    background-position: 100% 0;
}



.colorspace-barrel_l{
    left: 0;
    background: url(left.png) no-repeat 0 0;
}

.colorspace-barrel_r{
    right: 0;
    background: url(right.png) no-repeat 0 0;
}

.colorspace-barrel_l, .colorspace-barrel_r{
    position: absolute;
    z-index: 2;
    top: 0;
    width: 11px;
    height: 100px;

}
.colorspace-barrel_fade {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100px;
    cursor: pointer;
    background: url(fade.png) repeat-x 0 0;
}

.colorsapce-barrel_columns{
    width: 250px;
    border-collapse: collapse;
}

.colorspace-barrel_hull{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100px;
}
.colorspace-barrel-x{
    font: 9px 'Segoe UI', Tahoma,sans-serif;
    height: 15px;
    padding: 0 0 0 23px;
}

.colorspace-barrel-x1, .colorspace-barrel-x1, .colorspace-barrel-xx1
{
    width: 250px;
    cursor: pointer;
}

.colorspace-barrel-x1{
    font-size: 11px;
    height: 20px;
    padding: 0 0 0 15px;
}

.colorspace-barrel-xx1{
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    padding: 0 0 0 10px;
}

.colorspace-shadow{
    display: block;
    height: 9px;
    background: #fff url(shadow.png) no-repeat 0 0;
}

.colorspace-c {
    padding: 1em 0 0 10px;
}

/*Color Picker*/
.colorspace-picker{
    position: relative;
    width: 95px;
    height: 95px;
    margin: 4px 0 0 0;
    background: #000;
}

.colorspace-picker_ring{
    position: absolute;
    width: 95px;
    height: 95px;
    cursor: crosshair;
    background: #fff url(ring.png) no-repeat 0 0;
}

.colorspace-picker_marker{
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    cursor: crosshair;
    background: url(marker.png) no-repeat 0 0;
}

.colorspace-picker_square{
    position: absolute;
    left: 21px;
    top: 21px;
    cursor: crosshair;
    background: #0cf;
}

.colorspace-picker_square_mask{
    width: 53px;
    height: 53px;
    cursor: crosshair;
    background: url(square-mask.png) no-repeat 0 0;
}

/*Color values*/
.colorspace-values_columns{
    border-collapse: collapse;
    overflow: hidden;
    display: inline-block;
}

.colorspace_label{
    font-size: 90%;
    font-weight: bold;
    padding: 0 2px 0 0;
    color: #666;
    text-align: center;
}

.colorspace_sup{
    font-size: 70%;
}

.colorspace_label_gap{
    padding: 0 15px 0 0;
}

.colorspace_rgbhsv input{
    width: 2.1em;
    margin: 0 2px 0 0;
}

.colorspace_grbhsv_gap input{
    margin: 0 15px 0 0;
}

.colorspace-rgb-title{
    padding: 7px 5px 0 0;
    color: #666;
}

/*Selected color*/
.colorspace-selected_color{
    position: relative;
    border: 1px solid;
    border-color: #666;
    border-style: solid;
    height: 52px;
    width: 96px;
    top: 0px;
    left: 30px;
    overflow: hidden;
    display: inline-block;
}

.colorspace-quickcolor{
    position: relative;
    height: 52px;
    width: 48px;
    top: 0px;
    left: 0px;
    display: inline-block;
    margin: 0;
}

.colorspace-staticcolor{
    position: relative;
    height: 52px;
    width: 48px;
    top: 0px;
    left: 0px;
    display: inline-block;
    margin-left: -3px;
}

/*Finder Panel*/
@font-face {
    font-family: "Open Sans", sans-serif;
    src: url('http://fonts.googleapis.com/css?family=Open+Sans');
}

#query{
    width: 370px;
    margin-bottom: 5px;
}

input[type="text"], input[type="search"]{
    border: 1px solid #BFBFBF;
    border-radius: 2px;
    box-sizing: border-box;
    color: #444;
    margin: 0;
    padding: 3px;
    padding-bottom: 4px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    min-width: 160px;
    min-height: 2em;
}

input, button{
    font-family: "Open Sans", sans-serif;
    font-size: 10pt;
    color: rgb(48, 57, 66);
    letter-spacing: normal;
    text-indent: 0;
    text-shadow: 0 1px 0 hsla(0,0%,100%,.75);
}

/* Button */
button, .button ,input[type="button"]{
    -webkit-appearance: none;
    -webkit-user-select: none;
    background-image: -webkit-linear-gradient(#EDEDED, #EDEDED 38%, #DEDEDE);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    color: #444;
    margin: 0 1px 0 0;
    text-shadow: 0 1px 0 #F0F0F0;
    min-height: 1em;
    -webkit-padding-end: 10px;
    -webkit-padding-start: 10px;
}

button:hover, .button:hover, input[type="button"]:hover {
    background-image: -webkit-linear-gradient(#F0F0F0, #F0F0F0 38%, #E0E0E0);
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
    color: black;
}

button:active, .button:active, input[type="button"]:active {
    background-image: -webkit-linear-gradient(90deg, hsla(0,0%,0%,.15), hsla(0,0%,0%,.12));
    color: #333;
    text-shadow: 0 1px 0 hsla(0,0%,100%,.25);
}

/*SavedSection*/
.customColorBox {
    background: none repeat scroll 0 0 #D8D8D8;
    border: 1px solid #EEEEEE;
    cursor: pointer;
    float: left;
    height: 19px;
    margin-right: 5px;
    width: 19px;
}
.saved-color-section{
    margin-top: 10px;
    margin-bottom: 10px;
}

.custom_box_container{
    margin-top: 3px;
}

.clear_button{
    height: 22px;
}

.activeCustomColorBox {
    border: 1px solid #000;
}

#tool_bar{
    margin-bottom: 4px;
    float: right;
}
