body{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 75%;
}

.tabs-display
{
    padding: 0;
    max-width: 300px;
}

.entry
{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.entry .title {
    -webkit-padding-start: 20px;
    background-position-y: 3px;
    background-repeat: no-repeat;
}

.entry .title > a {
    color: rgb(48, 57, 66);
    text-decoration: none;
}

.entry .title {
    -webkit-box-flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*display: inline-block;*/
}

#tabs-list
{
    width: 100%;
    /*max-width: 200px;*/
}

.entry-box {
    -webkit-box-orient: horizontal;
    cursor: default;
    display: -webkit-box;
    float: left;
    line-height: 1.75em;
    margin-bottom: 6px;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 1px;
}

.entry .time {
    color: rgb(151, 156, 160);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90px;
}