<!DOCTYPE html>
<html ng-app="ColorSpace" ng-csp>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"  />
    <title>Color Space</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/jquery-ui.css" rel="stylesheet">
</head>

<body ng-controller="ColorSpaceCtrl">
    <div id="search-panel">
        <input autocomplete source="source" id="query" type="search"  ng-model="color.name" placeholder="Search your color">
    </div>

    <div class="colorspace-values" ng-model="color">
        <table class="colorspace-values_columns">
            <tbody>
                <tr>
                    <td rowspan="2"></td>
                    <td class="colorspace_label">R</td>
                    <td class="colorspace_label">G</td>
                    <td class="colorspace_label colorspace_label_gap">B</td>

                    <td class="colorspace_label">H°</td>
                    <td class="colorspace_label">
                        S
                        <span class="colorspace_sup">%</span>
                    </td>
                    <td class="colorspace_label">
                        V
                        <span class="colorspace_sup">%</span>
                    </td>
                </tr>
                <tr>
                    <td class="colorspace_rgbhsv colorspace_rgbhsb_r">
                        <input maxlength="3" size="3" max="255" ng-model="color.red " ng-change="updateRGB()">
                    </td>
                    <td class="colorspace_rgbhsv colorspace_rgbhsb_g" >
                        <input maxlength="3" size="3" max="255" ng-model="color.green" ng-change="updateRGB()">
                    </td>
                    <td class="colorspace_rgbhsv colorspace_rgbhsb_b colorspace_grbhsv_gap">
                        <input maxlength="3" size="3" max="255" ng-model="color.blue" ng-change="updateRGB()">
                    </td>

                    <td class="colorspace_rgbhsv colorspace_rgbhsb_h">
                        <input maxlength="3" size="3" max="255"  ng-model="color.hue" ng-change="updateHSV()">
                    </td>
                    <td class="colorspace_rgbhsv colorspace_rgbhsb_s">
                        <input maxlength="3" size="3" max="255"  ng-model="color.saturation" ng-change="updateHSV()">
                    </td>
                    <td class="colorspace_rgbhsv colorspace_rgbhsb_v">
                        <input maxlength="3" size="3" max="255" ng-model="color.value" ng-change="updateHSV()">
                    </td>

                </tr>
            <tr>
                <td class="colorspace-rgb-title">#</td>
                <td class="colorspace-rgb colorspace-rgbhsv-hex" colspan="3">
                    <input size="6" maxlength="6" max="16777215" ng-model="color.hex" ng-change="updateHex()">
                </td>
                <td colspan="3"></td>
            </tr>
            </tbody>
        </table>
        <div class="colorspace-selected_color">
            <div class="colorspace-quickcolor" ng-style="{backgroundColor:color.quickColor}"></div>
            <div class="colorspace-staticcolor" ng-style="{backgroundColor:color.staticColor}"></div>
        </div>
    </div>

    <div id="color-space">
        <table class="colorspace-columns">
            <tbody>
                <tr>
                    <td class="colorspace-list">
                        <div class="colorspace-border">
                            <div class="colorspace-barrel">
                                <a class="colorspace-arrow colorspace-arrow_up" href="#" ng-click="colorUp()"></a>
                                <a class="colorspace-arrow colorspace-arrow_down" href="#" ng-click="colorDown()"></a>
                                <i class="colorspace-barrel_l"></i>
                                <i class="colorspace-barrel_fade"></i>
                                <i class="colorspace-barrel_r"></i>
                                <table class="colorsapce-barrel_columns">
                                    <tbody>
                                        <tr class="colorspace-row-x">
                                            <td class="colorspace-barrel-x" ng-style="{backgroundColor:getBarrelColor(-2).HexValue, color:getBarrelTextColor(-2)}"
                                             >{{getBarrelColor(-2).Name}}</td>
                                        </tr>
                                        <tr class="colorspace-row-x1">
                                            <td class="colorspace-barrel-x1" ng-style="{backgroundColor:getBarrelColor(-1).HexValue, color:getBarrelTextColor(-1)}">{{getBarrelColor(-1).Name}}</td>
                                        </tr>
                                        <tr class="colorspace-row-xx1">
                                            <td class="colorspace-barrel-xx1"  ng-style="{backgroundColor:getBarrelColor(0).HexValue, color:getBarrelTextColor(0)};
                                           ">{{getBarrelColor(0).Name}}</td>
                                        </tr>
                                        <tr class="colorspace-row-x1">
                                            <td class="colorspace-barrel-x1" ng-style="{backgroundColor:getBarrelColor(1).HexValue, color:getBarrelTextColor(1)};
                                            ">{{getBarrelColor(1).Name}}</td>
                                        </tr>
                                        <tr class="colorspace-row-x">
                                            <td class="colorspace-barrel-x" ng-style="{backgroundColor:getBarrelColor(2).HexValue, color:getBarrelTextColor(2)};
                                           ">{{getBarrelColor(2).Name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <i class="colorspace-shadow"></i>
                        </div>
                    </td>
                    <td class="colorspace-c">
                        <div class="colorspace-picker">
                            <div id="colorspace-ring" class="colorspace-picker_ring">
                                <i id="colorspace-picker_marker" class="colorspace-picker_marker"></i>
                            </div>
                            <div  id="colorspace-picker" class="colorspace-picker_square" ng-style="{backgroundColor:color.pickerColor}">
                                <div class="colorspace-picker_square_mask">
                                    <i id="square_marker" class="colorspace-picker_marker"></i>
                                </div>
                            </div>

                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div id="saved-color-section">

    </div>
</body>

<script src="angular/angular.js"></script>
<script src="jquery/jquery-1.9.1.min.js"></script>
<script src="js/Colors.js"></script>
<script src="js/DragAndDrop.js"></script>
<script src="js/ColorPicker.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popup.js"></script>
</html>